<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "logo.png" %>
  <% end %>


    <!-- Search form -->
<!--     <form action="" class="navbar-wagon-search">
      <input type="text" class="navbar-wagon-search-input" placeholder="Search something">
      <button type="submit" class="navbar-wagon-search-btn">
        <i class="fa fa-search"></i>
      </button>
    </form> -->

    <!-- Different navigation if login or not -->
    <% if user_signed_in? %>

      <!-- Profile picture and dropdown -->



      <div class="navbar-wagon-item">
        <div class="fixed-action-btn horizontal">

<%= image_tag current_user.facebook_picture_url.nil? ? "http://cdn3-3.kaneva.net/filestore9/5112880/6412551/squareUyellowUsmileyUface_ad.jpg" : current_user.facebook_picture_url , class: "btn-floating btn-large red" %>


    </a>
    <ul>
      <li>
              <%= link_to favorites_path, class: "btn-floating" do %>
                <i class="fa fa-heart"></i>  <%= t(".profile", default: "Favorites") %>
              <% end %>
            </li>
            <li>
              <%= link_to "#", class: "btn-floating"  do %>
                <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete, class: "btn-floating" do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </li>
    </ul>
  </div>

      </div>

    <% else %>

      <!-- Login text link -->
      <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-button btn" %>

    <% end %>

    <!-- Button (call-to-action) -->
  </div>

</div>

