<div class="navbar", id="home-nav">
  <!-- Logo -->
  <%= link_to "SCOUT", root_path, class: "navbar-brand brand-name" %>

    <% if user_signed_in? %>

    <div class="fixed-action-btn horizontal">
      <%= image_tag current_user.facebook_picture_url.nil? ? "#{image_path 'green-happy-face.png'}" : current_user.facebook_picture_url , class: "btn-floating btn-large" %>
      <ul>
        <li class= "tooltipped" data-position = "top" data-delay = "50" data-tooltip = "<%= t('.profile', default: 'Favorites') %>" >
          <%= link_to favorites_path, class: "btn-floating waves-effect waves-light" do %>
          <i class="fa fa-heart"></i>
          <% end %>
        </li>
        <li class= "tooltipped" data-position = "top" data-delay = "50" data-tooltip = " <%= t(".profile", default: "Profile") %>" >
          <%= link_to profile_path(:id), class: "btn-floating"  do %>
          <i class="fa fa-user"></i>
          <% end %>
        </li>
        <li  class= "tooltipped" data-position = "top" data-delay = "50" data-tooltip = "  <%= t(".sign_out", default: "Log out") %>" >
          <%= link_to destroy_user_session_path, method: :delete, class: "btn-floating" do %>
          <i class="fa fa-sign-out"></i>
          <% end %>
        </li>
      </ul>
    </div>

  <% else %>

  <!-- Login text link -->
  <div class="login-call">
  <div class="ul list-inline">
    <li><%= link_to 'Login', '#login', { class: "home-link"} %></li>
    <li><%= link_to 'Sign Up', '#signup', { class: "home-link"} %></li>
  </div>
  </div>
  <% end %>
</div>
