  <div>
    <ul class="list-inline">
      <% if current_user %>
        <li><%= link_to '<i class="fa fa-heart" aria-hidden="true"></i>'.html_safe, offer_path(offer, saved?: offer.saved?), remote: true, method: :patch, class: " small-tooltip", id: "save", title: "save" %></li>
        <li ><%= link_to '<i class="fa fa-share-alt" aria-hidden="true"></i>'.html_safe, "#", class: " small-tooltip", title: "share"%></li>
        <li><%= link_to '<i class="fa fa-thumbs-down" aria-hidden="true"></i>'.html_safe, offer_path(offer, disliked?: offer.disliked? ), remote: true, method: :patch, class: " small-tooltip", id: "remove", title:"remove" %></li>
      <% else %>
        <li><%= link_to '<i class="fa fa-heart" aria-hidden="true"></i>'.html_safe, "#signup", class: " small-tooltip", title: "like"%></li>
        <li><%= link_to '<i class="fa fa-share-alt" aria-hidden="true"></i>'.html_safe, "#signup", class: " small-tooltip", title: "share"%></li>
        <li><%= link_to '<i class="fa fa-thumbs-down" aria-hidden="true"></i>'.html_safe, "#signup", class: " small-tooltip", title: "remove" %></li>
      <% end %>
    </ul>
  </div>
  <div>
 </div>
