
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="card">
        <div class="edit hidden">
         <h2><%= t('edit.heading') %></h2>
         <p><%= t('edit.subheading') %></p>
         <%= link_to "<i class='fa fa-heart' aria-hidden='true'></i>".html_safe, offer_path(offer, :liked? => true ), method: :patch  %>
         <%= link_to '<i class="fa fa-share-alt" aria-hidden="true"></i>'.html_safe, "#" %>
         <%= link_to '<i class="fa fa-times-circle" aria-hidden="true"></i>'.html_safe, offer_path(offer, :disliked? => true ), method: :patch  %>
         <a href=""><i class="fa fa-expand flip" aria-hidden="true" ></i></a>
                <%= image_tag offer.deal.photo, class: "img-responsive img-card" %>


       </div>
     </div>
   </div>
 </div>
</div>


