<table class="feedback-text">
  <tr>
    <th><%= t('edit.heading') %></th>
  </tr>
  <tr>
    <td>
      <ul class="list-inline">
        <% if current_user %>
          <li class='icon' ><%= link_to "<i class='fa fa-shopping-cart' aria-hidden='true'></i>".html_safe, offer_path(id: offer.id, :bought? => true ), method: :patch, class: " small-tooltip", title: "bought", style: "color:$success-color;"  %></li>
          <li class='icon'><%= link_to "<i class='fa fa-heart' aria-hidden='true'></i>".html_safe, offer_path(id: offer.id, :liked? => true ), method: :patch, class: " small-tooltip", title: "liked", style: "color:$error-color;" %></li>
          <li class='icon'><%= link_to "<i class='fa fa-thumbs-down' aria-hidden='true'></i>".html_safe, offer_path(id: offer.id, :disliked? => true ), method: :patch, class: " small-tooltip", title: "disliked", style: "color:$blue;" %></li>
        <% else %>
          <li class='icon' ><%= link_to "<i class='fa fa-shopping-cart' aria-hidden='true'></i>".html_safe, "#signup", class: " small-tooltip", title: "bought", style: "color:$success-color;"  %></li>
          <li class='icon'><%= link_to "<i class='fa fa-heart' aria-hidden='true'></i>".html_safe, "#signup", class: " small-tooltip", title: "liked", style: "color:$error-color;" %></li>
          <li class='icon'><%= link_to "<i class='fa fa-thumbs-down' aria-hidden='true'></i>".html_safe, "#signup", class: " small-tooltip", title: "disliked", style: "color:$blue;" %></li>
        <% end %>
      </ul>
    </td>
  </tr>
  <tr>
    <td><%= t('edit.subheading') %></td>
  </tr>
</table>
