<div class="container">
  <div class="row">

    <% unless current_user %>

    <div class="col-xs-12 col-sm-6 col-md-4">
    <div class ="card small notification">
        <div class="card-content dark-card">
          <span class="card-title"> To have the best deals and full functionality, please <hr> <%= link_to '<i class="fa fa-facebook"></i> Sign Up with Facebook'.html_safe, user_facebook_omniauth_authorize_path,class: 'btn-facebook btn-facebook-small' %></span>
        </div>
      </div>
    </div>

    <% end %>
    <!-- show all cards with offers -->
    <% @offers.each do |offer| %>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class ="card small">
        <div class="card-image waves-effect waves-block waves-light">
          <%= image_tag offer.deal.photo, class: "activator"%>
        </div>
        <div class="feedback hidden"><%= render partial: 'feedback', locals: { offer: offer} %></div>
        <div class="offer-actions hidden">
          <%= render partial: 'card_menu', locals: { offer: offer } %>
        </div>
        <div class="card-link hidden"><%= offer.deal.url %></div>
        <div class="card-content activator">
          <p class="activator"><%= offer.deal.discount %></p>
          <span class="card-title grey-text text-darken-4 activator"><%= offer.deal.name %></span>
        </div>
        <div class="card-reveal deactivator">
          <%= render partial: 'show', locals: { offer: offer }%>
        </div>
      </div>
    </div>
    <% end %>
    <!-- If run out of allocated deals, show a card with notification -->
    <% if @is_incomplete_offers %>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class ="card small center-flex notification">
        <div class="card-content">
          <span class="card-title grey-text text-darken-4"> No more matched deals for now. Check-in a bit later for new deals! </span>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
