<div class="offer-actions-reverse">
  <%= render partial: 'card_menu', locals: { offer: offer } %>
</div>
<span class="card-title grey-text text-darken-4 padded-top-small"> <%= offer.deal.name %></span>
<table class="offer-text">
  <tr>
    <th class='deactivator'><%= t('cardreverse.price') %></th>
    <td class='deactivator'><%= offer.deal.new_price %></td>
  </tr>
  <tr>
    <th class='deactivator'><%= t('cardreverse.provider') %></th>
    <td class='deactivator'><%= offer.deal.provider %></td>
  </tr>
  <tr>
    <th class='deactivator'><%= t('cardreverse.tags') %></th>
    <td class='deactivator'><% offer.deal.tags.each do |t| %>
      <%= "#" + t.name + " " %>
      <% end %>
    </td>
  </tr>
  <tr>
    <th class='deactivator'><%= t('cardreverse.score') %></th>
    <td class='deactivator'><%= offer.score %></td>
  </tr>
</table>
<div class="span text-center">
  <%= link_to "see deal", offer.deal.url, class: "btn btn-fixed btn-2see-deal", target: "_blank" %>
</div>

