<%= render partial: 'card_menu', locals: { offer: offer } %>
<div class="container">
  <div class="row">
    <span class="card-title grey-text text-darken-4"><%= t('cardreverse.product') %></span>

    <div class="col-sm-4">
    </div>
  </div>
  <div class="row">
    <table>
      <tr>
        <th></th>
        <td><%= offer.deal.name %></td>
      </tr>
      <tr>
        <th><%= t('cardreverse.price') %></th>
        <td><%= offer.deal.new_price %></td>
      </tr>
      <tr>
        <th><%= t('cardreverse.provider') %></th>
        <td><%= offer.deal.provider %></td>
      </tr>
      <tr>
        <th><%= t('cardreverse.tags') %></th>
        <td><% offer.deal.tags.each do |t| %>
            <%= "#" + t.name + " " %>
          <% end %>
        </td>
      </tr>
      <tr>
        <th><%= t('cardreverse.score') %></th>
        <td><%= offer.score %></td>
      </tr>
    </table>
    <%= link_to "Go to deal", offer.deal.url, class: "btn btn-primary", target: "_blank" %>
  </div>
</div>
